
.side-bar {
    margin-top: 60px;
    margin-left: 120px;
    width: 350px;
    max-height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;


    .clear-btn {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}