@import "./personalInfor";
@import"./nav";
@import"./education";
@import"./experience";

.side-bar {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}